{% extends "base.html" %} {% block head %}
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='login.css') }}"
/>
{% endblock %} {% block content %}
<h1 class="title-text">MOVIE4U</h1>
<h3 class="desc-text">An Emotion-Based Movie Recommendation System</h3>
<div class="center">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h2 class="card-title">Sign In</h2>
      <form method="POST">
        <div class="mb-3">
          {{form.hidden_tag()}}
          <div class="text-label">{{form.email.label}}</div>
          {{form.email(class="form-control")}}
        </div>
        <div class="mb-3">
          <div class="text-label">{{form.password.label}}</div>
          {{form.password(class="form-control")}}
        </div>
        <br />
        <div class="center submit-button" style="font-family: Sriracha">
          {{form.submit(class="predictButton")}}
        </div>
      </form>
      <div class="register-label">
        <a href="{{url_for('register')}}" class="card-link">Register</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
