{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='predict.css') }}"
/>
{% endblock %} {% block content %}
<p>You look {{label}}</p>
<p>Here are some {{genre}} movies that you might enjoy watching:</p>
<div class="container">
  <div class="row">
    {% for movie in movies%}
    <div class="col">
      <div class="card" style="width: 20rem">
        <img
          class="card-img-top"
          src="{{movie.image_url}}"
          alt="Card image cap"
          width="500"
          height="350"
        />
        <div class="card-body">
          <h5 class="card-title">{{movie.movie_title}}</h5>
        </div>
      </div>
      <div class="center buttonContainer">
        <a target="_blank" href="{{movie.movie_url}}" class="btn btn-primary"
          >See details</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
