.cardContainer {
  margin-top: 80px;
}

.card {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  font-weight: bold;
  font-size: 3em;
}

.text-label {
  text-align: center;
  font-weight: bold;
}

.register-label {
  text-align: center;
  margin-top: 20px;
}

.card-link {
  color: black;
}

.register-button {
  margin-top: 15px;
}
