.card-title {
  text-align: center;
  font-weight: bold;
  color: white;
}

.card-body {
  background-color: rgb(32, 129, 226);
  padding: 15px 5px 5px 5px;
  margin: 0;
}

.card {
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonContainer {
  margin: 20px 0;
}

p {
  margin-left: 20px;
  font-size: 1.2em;
}
